streamlit

faiss-cpu

sentence-transformers

torch
torchvision

langchain-google-genai

langchain-text-splitters

langchain-community

langchain-core

unstructured

spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl

beautifulsoup4

requests

python-dotenv